.PK1 {
    position: absolute;
    top: 40px;
    left: 80px;
}

.PK2 {
    position: absolute;
    top: 40px;
    right: 70px;
}

.Fdp11 {
      position: absolute;
      top: 100px;
      left: 100px;
      background-color: #F0F0F0;
}

.Fdp12 {
      position: absolute;
      top: 120px;
      left: 100px;
      background-color: #F0F0F0;
}

.Fdp21 {
      position: absolute;
      top: 100px;
      left: 1100px;
      background-color: #F0F0F0;
}

.Fdp22 {
      position: absolute;
      top: 120px;
      left: 1100px;
      background-color: #F0F0F0;
}

.dp1 {
    position: absolute;
    top: 250px;
    left: 20px;
    font-size: 20px;
}

.dp2 {
    position: absolute;
    top: 250px;
    left: 930px;
    font-size: 20px;
}

.MA1 {
    position: absolute;
    top: 256px;
    left: 80px;
    width: 15px;
}

.MA2 {
    position: absolute;
    top: 256px;
    left: 992px;
    width: 15px;
}

button {
      width: 220px;
      height: 80px;
}

.attack1 {
        font-size: 35px;
        position: absolute;
        top: 290px;
        left: 40px;
}

.change1 {
        font-size: 35px;
        position: absolute;
        top: 375px;
        left: 40px;
}

.attack2 {
        font-size: 35px;
        position: absolute;
        top: 290px;
        left: 1010px;
}

.change2 {
        font-size: 35px;
        position: absolute;
        top: 375px;
        left: 1010px;
}

.mega1 {
      border-radius: 85px;
      width: 85px;
      height: 85px;
      position: absolute;
      top: 420px;
      left: 515px;
      background-color: #000000;
}

.mega2 {
      border-radius: 85px;
      width: 85px;
      height: 85px;
      position: absolute;
      top: 420px;
      left: 675px;
      background-color: #000000;
}

.MG1 {
    border-radius: 70px;
    width: 70px;
}

.MG2 {
    border-radius: 70px;
    width: 70px;
}

.bigMAX1 {
      border-radius: 110px;
      border-width: thick;
      border-color: #EA605E;
      width: 110px;
      height: 110px;
      position: absolute;
      top: 410px;
      left: 515px;
}

.bigMAX2 {
      border-radius: 110px;
      border-width: thick;
      border-color: #EA605E;
      width: 110px;
      height: 110px;
      position: absolute;
      top: 410px;
      left: 650px;
}

.MAX1 {
    width: 80px;
}

.MAX2 {
    width: 80px;
}

.skill11 {
        border-width: thick;
        font-size: 24px;
        position: absolute;
        top: 375px;
        left: 40px;
}

.skill12 {
        border-width: thick;
        font-size: 24px;
        position: absolute;
        top: 375px;
        left: 270px;
}

.skill13 {
        border-width: thick;
        font-size: 24px;
        position: absolute;
        top: 465px;
        left: 40px;
}

.skill14 {
        border-width: thick;
        font-size: 24px;
        position: absolute;
        top: 465px;
        left: 270px;
}

.skill21 {
        border-width: thick;
        font-size: 24px;
        position: absolute;
        top: 375px;
        left: 780px;
}

.skill22 {
        border-width: thick;
        font-size: 24px;
        position: absolute;
        top: 375px;
        left: 1010px;
}

.skill23 {
        border-width: thick;
        font-size: 24px;
        position: absolute;
        top: 465px;
        left: 780px;
}

.skill24 {
        border-width: thick;
        font-size: 24px;
        position: absolute;
        top: 465px;
        left: 1010px;
}

.skilldp { color: #FFFFFF; }

.subPK1 {
       position: absolute;
       top: 470px;
       left: 40px;
}

.subPK2 {
       position: absolute;
       top: 470px;
       left: 190px;
}

.subPK3 {
       position: absolute;
       top: 470px;
       left: 350px;
}

.subPK4 {
       position: absolute;
       top: 470px;
       left: 760px;
}

.subPK5 {
       position: absolute;
       top: 470px;
       left: 920px;
}

.subPK6 {
       position: absolute;
       top: 470px;
       left: 1080px;
}