.set1 {
      position: absolute;
      top: 300px;
      left: 180px;
      font-size: 60px;
}

.set2 {
      position: absolute;
      top: 300px;
      left: 970px;
      font-size: 60px;
}

.set {
      position: absolute;
      top: 340px;
      left: 550px;
      font-size: 50px;
}

.PK {
   width: 100px;
}


.Lv {
   position: absolute;
   top: 60px;
   left: 20px;
   font-size: 40px;
}

.name {
     position: absolute;
     top: 60px;
     left: 140px;
     font-size: 40px;
}

.PKcenter {
         position: absolute;
         top: 100px;
         left: 530px;
         width: 200px;
}

.subPKL {
       position: absolute;
       top: 190px;
       left: 410px;
       width: 100px;
}

.subPKR {
       position: absolute;
       top: 190px;
       left: 750px;
       width: 100px;
}

.F {
  position: absolute;
  top: 60px;
  left: 950px;
  font-size: 30px;
}

.Fdp {
  position: absolute;
  top: 95px;
  left: 930px;
  font-size: 20px;
}

.type {
      position: absolute;
      top: 110px;
      left: 30px;
      color: #FFFFFF;
      font-size: 25px;
}

#type1 {
      padding: 1px;
      border-radius: 10px;
}

#type2 {
      padding: 2px;
      border-radius: 10px;
}

.HP {
   position: absolute;
   top: 150px;
   left: 80px;
   font-size: 35px;
}

.attack {
   position: absolute;
   top: 190px;
   left: 25px;
   font-size: 35px;
}

.block {
   position: absolute;
   top: 230px;
   left: 25px;
   font-size: 35px;
}

.contact {
   position: absolute;
   top: 270px;
   left: 25px;
   font-size: 35px;
}

.defense {
   position: absolute;
   top: 310px;
   left: 25px;
   font-size: 35px;
}

.speed {
   position: absolute;
   top: 350px;
   left: 25px;
   font-size: 35px;
}

.table {
      width: 300px;
      height: 250px;
      border-width: thick;
      position: absolute;
      top: 190px;
      left: 920px;
      border-style: solid;
}

.imgsize {
        width: 6%;
}
.intable {
        text-align: left;
        border-width: thick;
        border-style: outset;
        font-size: 15px;
}

.subtable {
        font-size: 12px;
}

.left {
     border-radius: 150px;
     width: 125px;
     position: absolute;
     top: 320px;
     left: 420px;
     font-size: 80px;
}

.right {
      border-radius: 150px;
      width: 125px;
      position: absolute;
      top: 320px;
      left: 720px;
      font-size: 80px;
}

.P1 {
   position: absolute;
   top: 435px;
   left: 10px;
   font-size: 40px;
}

.P2 {
   position: absolute;
   top: 435px;
   left: 800px;
   font-size: 40px;
}

.VS {
   position: absolute;
   top: 520px;
   left: 580px;
   font-size: 80px;
}

.PK11 {
     position: absolute;
     top: 500px;
     left: 10px;
}

.PK12 {
     position: absolute;
     top: 500px;
     left: 170px;
}

.PK13 {
     position: absolute;
     top: 500px;
     left: 330px;
}

.PK21 {
     position: absolute;
     bottom: 8px;
     right: 330px;
}

.PK22 {
     position: absolute;
     bottom: 8px;
     right: 170px;
}

.PK23 {
     position: absolute;
     bottom: 8px;
     right: 10px;
}

.rightborder {
            border-right: solid 1px;
            padding: 0 10px;
}